<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>
    <div id="top-div">
        <p id="top-text">My Blog</p>
    </div>

    <div class="central-div">

        <div class = "main-div">
            <h2>{{blog_title}}</h2>
            <h3>{{subtitle}}</h3>
            <p id="body-text">{{body}}</p>
        </div>


    </div>

</body>
<footer><p id="footer-p">Made by Halid in Addis Ababa</p></footer>
</html>